<div class="about">
    <div class="polje">
        <h1 style="color: white;">O nama</h1>
        <div class="text">
            <p>Mi smo strastveni tim muzičkih entuzijasta koji ima jedinstvenu viziju - omogućiti svim ljubiteljima muzike širom sveta da uživaju u neverovatnom doživljaju slušanja i otkrivanja muzike.

                Naša misija je jednostavna - želimo da stvorimo najbolju platformu za streaming muzike koja će vas inspirisati, zabaviti i povezati sa omiljenim izvođačima i pesmama. Sa MusicApp-om, imate neograničen pristup preko miliona pesama iz svih žanrova, koje možete slušati kad god poželite.
                
                Naš tim je posvećen kreiranju jednostavnog i intuitivnog korisničkog interfejsa kako bi vaše iskustvo bilo što prijatnije. Bez obzira da li ste zaljubljenik u rok, hip-hop, elektroniku, klasičnu muziku ili bilo koji drugi žanr, MusicApp ima sve što vam treba.
                
        </div>
    </div>
</div>
